/*********Global *************/

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  line-height: 1.5;
  margin: auto;
  width: 100%;
  padding: 0;
}

.loaderContainer {
  background-color: #15202b;
  height: 100vh;
  padding: 0 510px;
}

.hideSection {
  display: none;
}

#loader {
  font-family: "Courier New", Courier, monospace;
  width: auto;
  text-align: center;
  padding: 300px 0 0 0;
  z-index: 10;
  font-size: 3.5rem;
  font-weight: 500;
  color: #fff;
  /* -webkit-animation: spin 2s linear infinite; */
  /* animation: spin 2s linear infinite; */
  /* animation: spin 5s; */
}

#loader-borderBottom {
  animation: borderBottom 1.2s ease-in-out;
}

@keyframes borderBottom {
  0% {
    width: 0;
    border-bottom: 2px solid rgb(7, 255, 14);
  }
  100% {
    width: 100%;
    border-bottom: 2px solid rgb(7, 255, 14);
  }
}

@viewport {
  width: device-width;
  zoom: 1;
}

/************Header**************/

header {
  background-color: rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  color: white;
  padding: 10px 0;
}

.header-container {
  margin: auto;
  width: 90%;
  overflow: hidden;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  margin: 0 20px;
  transition: all ease-in-out 100ms;
}

header .header-container #branding {
  float: left;
}

#home-click {
  margin: 0;
  margin-left: 10px;
  font-size: 25px;
  font-style: italic;
}

#home-click a:hover {
  color: rgb(8, 80, 175);
  color: rgb(7, 255, 14);
  text-decoration: none;
  font-weight: 600;
}

header #branding #home-click span {
  color: rgb(7, 255, 14);
  font-style: italic;
  font-weight: normal;
}

header nav {
  display: flex;
  float: right;
  margin-top: 7px;
}

header nav a:hover,
.active {
  color: rgb(7, 255, 14);
  font-weight: bold;
  padding-top: 5px;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .header-container {
    text-align: center;
  }
  header nav {
    display: block;
    height: auto;
    width: 100%;
    padding: 5px;
    justify-content: center;
  }
  header a {
    margin: 0 10px;
  }
  #branding {
    display: block;
    width: 100%;
    float: left;
  }
  #home-click {
    text-align: center;
  }
}

/**********************Section Four - Contact Section**************************/

#contact {
  background: #2b5876;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contact-container {
  margin: auto;
  overflow: auto;
  padding: 0 20px;
  min-height: 100vh;
  width: 90%;
  height: auto;
  border-bottom: 1px solid rgb(65, 65, 65);
}

div.contact-boxes {
  margin: 50px 0;
  overflow: hidden;
  display: flex;
  width: auto;
}

div.title h1 {
  margin-top: 10%;
  padding-bottom: 10px;
  color: #fff;
  text-align: center;
  font-size: 60px;
  font-family: "Shadows Into Light", cursive;
  border-bottom: 1px solid rgb(65, 65, 65);
}

div.contact-info {
  overflow: auto;
  color: white;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 20px 20px;
  -webkit-box-shadow: 0px 0px 12px -4px #000000;
  box-shadow: 0px 0px 12px -4px #000000;
}

div.contact-info p {
  font-size: 20px;
  padding: 10px;
  line-height: 2;
}

div.contact-links {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 20px 20px;
  -webkit-box-shadow: 0px 0px 12px -4px #000000;
  box-shadow: 0px 0px 12px -4px #000000;
}

div.contact-links p {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  color: white;
}

#phone-number a,
#email a,
#resume a {
  color: rgb(7, 255, 14);
  text-decoration: none;
}

/***Contact Links**/

div.social-links {
  text-align: center;
}

div.social-links a {
  flex-flow: wrap;
  font-size: 30px;
  color: white;
  padding: 5px;
}

#linkedIn,
#git,
#email-link,
#resume {
  transition-property: all;
  transition: ease-in-out 300ms;
}

#linkedIn:hover {
  color: #0077b5;
  border-radius: 10%;
  transform: rotateX(180deg);
}

#git:hover {
  color: black;
}

#email-link:hover {
  color: rgb(10, 223, 10);
}

#resume:hover {
  color: yellow;
}

footer {
  background: #2b5876; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4e4376,
    #2b5876
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4e4376, #2b5876);
  color: white;
  display: block;
  font-size: 15px;
  padding: 15px 0;
  position: sticky;
  font-weight: none;
  font-style: normal;
}

footer div.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

footer div.footerNameTitle {
  font-size: 20px;
}

footer div.social-links a {
  flex-flow: wrap;
  font-size: 20px;
  color: white;
  padding: 5px;
}

footer div.social-links a i {
  margin: 0 5px;
}

@media only screen and (max-width: 1024px) {
  div.contact-boxes {
    flex-flow: column;
    justify-content: center;
  }

  div.contact-links,
  div.contact-info {
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .loaderContainer {
    padding: 0 120px;
  }

  #loader {
    padding: 300px 0 0 0;
    font-size: 3.5rem;
    font-weight: 500;
  }

  footer {
    height: auto;
    overflow: auto;
  }

  div.title h1 {
    padding-top: 10%;
  }

  div.contact-boxes {
    flex-flow: column;
    clear: both;
    justify-content: center;
  }
  div.contact-info p {
    font-size: 17px;
  }
  div.contact-info {
    border: none;
    height: auto;
    margin: 10px;
  }
  div.contact-links p {
    font-size: 17px;
  }
  #contact {
    min-height: 100vh;
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .loaderContainer {
    padding: 0 40px;
  }

  #loader {
    padding: 180px 0 0 0;
    font-size: 2.1rem;
    font-weight: 500;
  }

  .header-container,
  .contact-container {
    width: auto;
  }

  div.contact-boxes {
    flex-flow: column;
    clear: both;
  }

  div.contact-info {
    border: none;
    height: auto;
    margin: 10px;
  }

  div.title {
    position: relative;
    margin-top: 100px;
  }

  div.contact-links {
    padding: 0px;
    margin: 10px;
  }

  div.contact-info p {
    line-height: 2;
    font-size: 18px;
  }

  div.social-links a {
    padding: 0 10px;
  }

  footer div.footerContainer {
    display: flex;
    text-align: center;
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 320px) {
  .header-container {
    width: auto;
  }

  div.title h1 {
    font-size: 45px;
  }

  div.contact-info p {
    font-size: 15px;
  }

  div.contact-info {
    border: none;
    height: auto;
    margin: 10px;
  }

  div.contact-links p {
    font-size: 15px;
  }

  div.social-links a {
    font-size: 18px;
  }
}
