/*********Global *************/

body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  line-height: 1.5;
  margin: auto;
  width: 100%;
}

.header-container,
.section-container {
  margin: auto;
  width: 90%;
  overflow: hidden;
}

.section-container {
  min-height: 100vh;
}

@viewport {
  width: device-width;
  zoom: 1;
}

/****************************Header************************/

header {
  background-color: rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  color: white;
  padding-top: 10px;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0 20px;
  transition: all ease-in-out 100ms;
}

header #branding {
  float: left;
}

#home-click {
  margin: 0;
  margin-left: 10px;
  font-size: 25px;
  font-style: italic;
}

header #branding span {
  color: rgb(77, 146, 236);
  font-style: italic;
  font-weight: normal;
}

#home-click:hover {
  padding-top: 1px;
}

header nav {
  display: flex;
  float: right;
  margin-top: 7px;
}

header a:hover {
  color: rgb(77, 146, 236);
  font-weight: bold;
  padding-top: 5px;
  text-decoration: none;
}

/**************Section Three - Projects *******************/

#projects {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526);
}

div.title h1 {
  text-align: center;
  font-size: 4em;
  margin-top: 100px;
  color: rgb(255, 255, 255);
  font-family: "Shadows Into Light", cursive;
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(65, 65, 65);
}

.main-content {
  border-bottom: 1px solid rgb(73, 73, 73);
  padding: 30px 5px;
  flex: 1 1 80%;
  min-height: 100vh auto;
}

#buttons-menu {
  text-align: center;
  margin-bottom: 40px;
}

#buttons-menu button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0.375rem;
  padding: 0.7rem 1.6rem;
  border-radius: 0.125rem;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/********Projects View********/

#project-intro {
  position: absolute;
  left: 40%;
  color: lightgray;
}

.row {
  /* border-bottom: 1px solid #474747; */
  padding: 20px 0;
}

.dotted {
  border-right: 1px solid #474747;
}

#project-name {
  color: rgb(77, 146, 236);
  font-size: 2rem;
  margin-bottom: 20px;
}

#project-info {
  color: lightgray;
  font-size: 1.1rem;
  font-family: "Comfortaa", cursive;
  line-height: 2rem;
  margin: 10px 0;
}

.skills {
  margin: 10px 0;
}

.skills h2 {
  color: #fff;
  color: lightgray;
  font-size: 1.3rem;
  padding: 10px 0;
}

#programming-skills {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

#demo,
#github {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.8rem;
  margin: 0.375rem;
  padding: 0.7rem 1.6rem;
  border-radius: 0.125rem;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.project-item {
  background-color: rgb(73, 75, 0);
  padding: 200px 120px;
}

.giftastic,
.hangry,
.bamazon,
.eat-da-burger,
.dev-seek,
.clickly-game {
  background-size: cover;
  background-position: center;
  background-position: top right;
  transition: all ease-in-out 300ms;
  position: relative;
  -webkit-box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 23px 3px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.giftastic:hover,
.hangry:hover,
.bamazon:hover,
.eat-da-burger:hover,
.dev-seek:hover,
.clickly-game:hover {
  color: black;
}

.giftastic::before,
.hangry::before,
.bamazon::before,
.eat-da-burger::before,
.dev-seek::before,
.clickly-game::before {
  content: "";
  display: block;
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 300ms;
  z-index: -1;
}

.giftastic:hover::before,
.hangry:hover::before,
.bamazon:hover::before,
.eat-da-burger:hover::before,
.dev-seek:hover::before,
.clickly-game:hover::before {
  background-position: center;
  opacity: 0.3;
}

.giftastic {
  background-image: url(../images/portfolio-images/Giftastic.png);
}

.hangry {
  background-image: url(../images/portfolio-images/Hangry.png);
}

.bamazon {
  background-image: url(../images/portfolio-images/bamazon.png);
}

.eat-da-burger {
  background-image: url(../images/portfolio-images/eat-da-burger.png);
}

.dev-seek {
  background-image: url(../images/portfolio-images/dev-seek.png);
}
.clickly-game {
  background-image: url(../images/portfolio-images/clicky-game.png);
}

/* Footer Section */

footer {
  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526);
  color: white;
  display: block;
  font-size: 15px;
  padding: 15px;
  position: sticky;
  font-weight: none;
  font-style: normal;
  text-align: center;
}

div.social-links {
  text-align: center;
}

footer div.social-links a {
  flex-flow: wrap;
  font-size: 20px;
  color: white;
  padding: 5px;
}

#linkedIn,
#git,
#email-link,
#resume {
  color: white;
  transition-property: all;
  transition: ease-in-out 300ms;
}

#linkedIn:hover {
  color: #0077b5;
  border-radius: 10%;
  transform: rotateX(180deg);
}

#git:hover {
  color: black;
}

#email-link:hover {
  color: rgb(10, 223, 10);
}

#resume:hover {
  color: yellow;
}

/* Responsive */

@media only screen and (max-width: 768px) {
  header nav {
    display: block;
    height: auto;
    width: 100%;
    padding: 5px;
  }

  .header-container {
    text-align: center;
  }

  #branding {
    display: block;
    width: 90%;
  }

  #home-click {
    text-align: center;
  }

  header nav a {
    font-size: 1.3rem;
  }

  .main-content {
    height: auto;
    width: auto;
    margin: 0;
  }

  div.title h1 {
    font-size: 3rem;
    margin-top: 18%;
  }

  footer {
    text-align: center;
  }

  div.social-links a {
    padding-bottom: 10px;
  }

  .giftastic,
  .hangry,
  .bamazon,
  .eat-da-burger,
  .dev-seek,
  .clickly-game {
    background-size: cover;
    background-position: 50%;
  }

  .giftastic::before,
  .hangry::before,
  .bamazon::before,
  .eat-da-burger::before,
  .dev-seek::before,
  .clickly-game::before {
    opacity: 0.1;
  }
}

@media only screen and (max-width: 640px) {
  .main-content {
    max-height: auto;
  }

  header {
    height: auto;
    padding: 0;
    width: 100%;
  }

  header nav a {
    font-size: 17px;
    margin: 0 5px;
  }

  .header-container {
    padding: 0;
  }

  header nav {
    display: block;
    height: auto;
    width: 100%;
    padding: 5px;
    justify-content: center;
  }

  #branding {
    display: block;
    width: 100%;
    float: left;
  }

  #home-click {
    text-align: center;
  }

  .section-container {
    margin: 0 auto;
  }

  .main-content {
    height: auto;
    width: auto;
    margin: 0;
  }

  div.title h1 {
    font-size: 3rem;
    margin-top: 30%;
  }

  #buttons-menu button {
    margin: 0.275rem;
    padding: 0.7rem 1.2rem;
  }

  .giftastic::before,
  .hangry::before,
  .bamazon::before,
  .friend-finder::before,
  .eat-da-burger::before,
  .dev-seek::before,
  .clickly-game::before {
    opacity: 0.1;
  }
}
